
.main-div{
  width: 100%;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.text-area{
  width: 400px;
  height: 200px;
  margin-top: 30px;
}
#app-title{
  font-size: x-large;
  width: 400px;
  text-align: center;
  margin-top: 50px;
  
}
.button{
  margin-top: 30px;
}
button{
  margin-left: 30px;
  width: 100px;
  height: 40px;
  font-size: 20px;
}